<nav class="py-4 flex justify-between items-center">
    <a class="block" href="{{ route('index') }}">{{ trans('Quotes') }}</a>

    <div class="flex items-center gap-6">
        <div>
            {% for localeCode, properties in LaravelLocalization.getLocalesOrder() %}
                {% if localeCode != LaravelLocalization.getCurrentLocale() %}
                    <a
                        class="underline text-blue-800"
                        href="{{ LaravelLocalization.getLocalizedURL(localeCode, null, [], true) }}"
                    >
                        {{ localeCode }}
                    </a>
                {% else %}
                    {{ localeCode }}
                {% endif %}
            {% endfor %}
        </div>

    {% if auth_check() %}
        <div class="text-xs font-bold uppercase">{{ auth_user().email }}</div>

        {% if can('admin') %}
            <a href="{{ route('admin.index') }}" class="text-xs font-bold uppercase text-red-800">
                {{ trans('Admin Panel') }}</a>
        {% endif %}

        {% embed '@components/form/form.twig' with {action: route('logout'), display_errors: false} %}
            {% block body %}
                {{ include('@components/form/button/submit.twig', {'text': trans('Logout')}) }}
            {% endblock %}
        {% endembed %}
    {% else %}
        <a href="{{ route('register') }}" class="text-xs font-bold uppercase">
            {{ trans('Register') }}
        </a>
        <a href="{{ route('login') }}" class="text-xs font-bold uppercase">
            {{ trans('Login') }}
        </a>
    {% endif %}
    </div>
</nav>
